<section class="py-5">
<h1 class="display-3">
Thank you
</h1>
<p class="lead">Your Ebbok should be emialed to you within 1 businessday </p>

<a href="/" class="btn btn-dark btn-lg">Go back</a>
</section>
